<div class="navbar">
    <div class="nav-links brand">
        <a id="logo" href="/"><img alt="CinemaBuff Logo"
                src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1629755949/CInemaBuff/popcorn_ztg5pt.png"
                width="50" height="50">
        </a>
    </div>
    <nav class="nav-items">
        <div class="nav-links">
            <a href="/">Home</a>
        </div>
        <div class="nav-links">
            <a href="/movie">Movies</a>
        </div>
        <div class="nav-links">
            <a href="/tv">TV Shows</a>
        </div>
    </nav>
    <nav class="nav-items nav-end">
        <% if (!currentUser) { %>
        <div class="nav-links">
            <a href="/login">Login</a>
        </div>
        <div class="nav-links">
            <a href="/register">Register</a>
        </div>
        <% } else {%>
        <div class="nav-links">
            <a href="/user/<%= currentUser.id %>/watchlist">Watchlist</a>
        </div>
        <div class="nav-links">
            <a href="/logout">Logout</a>
        </div>
        <% } %>
        <div class="nav-links search-bar">
            <form id="search-bar" action="/results">
                <input type="search" placeholder="Search" name="q">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>
</div>