<div class="navbar">
    <div class="nav-link brand">
        <a id="logo" href=""><img alt="CinemaBuff Logo"
                src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1629755949/CInemaBuff/popcorn_ztg5pt.png"
                width="50" height="50">
            CinemaBuff
        </a>
    </div>
    <nav class="nav-items">
        <div class="nav-links">
            <a href="/home">Home</a>
        </div>
        <div class="nav-links">
            <a href="/movies">Movies</a>
        </div>
        <div class="nav-links">
            <a href="/tv">TV Shows</a>
        </div>
    </nav>
    <nav class="nav-items nav-end">
        <div class="nav-links search-bar">
            <form>
                <input type="text" placeholder="Search CinemaBuff" name="search">
                <button>Search</button>
            </form>
        </div>
    </nav>
</div>