<% layout('layouts/boilerplate') %>
<div class="error-container">
    <div class="page-error">
        <h4 class="error-heading">
            <%= err.message %>
        </h4>
        <% if (process.env.NODE_ENV !== 'production') { %>
        <p>
            <%= err.stack %>
        </p>
        <% } %>
    </div>
</div>