html, body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.fa-star {
    color: #FFD700;
}

.page-error {
    width: 80vw;
    background-color: #f8d7da;
    color: #842029;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: .375rem;
}

.error-container {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
}

.error-heading {
    font-size: 35px;
}

/* ::-webkit-scrollbar {
    width: 7px;
    border-radius: 15px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;  
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */