.media-intro {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.media-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    margin-left: 30px;
}

.media-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1px;
}

.media-runtime-rating {
    margin-bottom: 1px;
    opacity: 0.7;
    font-weight: 700;
    font-size: 17px;
}

.age-rating {
    border: 2px solid rgba(0,0,0,0.7);
    padding: 2px 5px;
}

.media-genres {
    margin-bottom: 1px;
    opacity: 0.7;
    font-weight: 700;
    font-size: 17px;
}

.media-summary {
    text-align: left;
    font-size: 20px;
}

.media-img img {
    border-radius: 10px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}

.media-leads {
    font-weight: 700;
    text-align: left;
    font-size: 18px;
}

.media-buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}

.media-btn {
    height: 70px;
    width: 190px;
    border-radius: .375rem;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
    background-color: #FF6B35;
    cursor: pointer;
}

.anchor-btn {
    background-color: #1A659E;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: .375rem;
    border: none;
    cursor: pointer;
}

.anchor-btn:hover {
    background-color: #1f8fbf;
}

.media-btn:hover {
    background-color: #F7C59F;
}

.media-cast {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 50px;
}

h2 {
    text-align: left;
    font-size: 30px;
}

.media-cast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5px;
}

.media-cast-container::-webkit-scrollbar-track {
    border-radius: 20px;
}

.actor-card {
    flex: 0 0 auto;
    width: 185px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-right: 2vw;
    margin-bottom: 20px;
}

.actor-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.media-video {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 50px;
}

.media-video-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
}

.video-js {
    width: 80vw;
    min-height: 70vh;
    margin-bottom: 5px;
    background-size: contain!important;
}

.vjs-playlist {
    height: 20vh;
    width: 80vw;
}

.vjs-playlist-title-container {
    background-color: black;
    overflow-wrap: break-word;
}

.vjs-playlist-title-container cite {
    font-weight: bold!important;
}

.media-rec {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 30px;
}

.rec-media-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5px;
}

.rec-card {
    flex: 0 0 auto;
    width: 185px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-right: 2vw;
    margin-bottom: 20px;
}

.rec-card-body {
    word-wrap: break-word;
    margin: 2px;
}

.rec-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.linked-title {
    text-decoration: none;
    color: black;
}

.linked-title:hover {
    color: #FF6B35;
}

.media-reviews {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 40px;
}

.media-review-container {
    display: flex;
    flex-direction: column;
}

.media-review-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80vw;
    padding: 0 30px;
    padding-bottom: 20px;
    background-color: #EEE;
    border-radius: 14px;
    align-self: center;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2)
}

#rating {
    width: 100%;
}

#review {
    width: 100%;
    height: 20vh;
    margin-top: 7px;
}

.form-group {
    margin-bottom: 20px;
}

legend {
    font-size: 17px;
}

label {
    font-size: 17px;
}

.review-input {
    border-radius: 4px;
}

.review-submit {
    background-color: #FF6B35;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    width: 90px;
    height: 40px;
    border-radius: .375rem;
    border: none;
}