html, body {
   font-family: 'PT Sans', sans-serif;
   width: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
   display: flex;
   width: 100vw;
   min-height: 100vh;
   flex-direction: column;
   margin: 0 auto;
   text-align: center;
}

::placeholder { 
   color: white;
   opacity: 1; 
   font-weight: 700;
 }
 
 :-ms-input-placeholder { 
   color: white;
   font-weight: 700;
 }
 
 ::-ms-input-placeholder { 
   color: white;
   font-weight: 700;
 }

 header {
    position: relative;
    width: 100vw;
 }

.navbar {
   display: flex;
   padding: 16px;
   position: absolute;
   z-index: 1;
   flex-wrap: wrap;
   width: 100%;
   left: 1%;
}

.brand {
   margin-right: 90vw;
}


.nav-links {
   padding-right: 8px;
   margin-right: 25px;
}

.nav-links > a {
   color: white;
   font-size: 17px;
   font-weight: 700;
   text-decoration: none;
}

.nav-links > a:hover {
   color: #FF6B35;
}

.nav-items {
   display: flex;
   align-items: center;
}

.nav-end {
   margin-left: auto;
}

.nav-link-toggle {
   display: none;
}

#search-bar input {
   padding: 6px;
   margin-top: 8px;
   font-size: 17px;
   border: 1px solid black;
   border-radius: .5rem;
   background-color: transparent;
   color: white;
}

#search-bar button {
   background-color: #FF6B35;
   border: none;
   padding: 8px 15px;
   margin-top: 8px;
   margin-right: 15px;
   float: right;
   border-radius: .5rem;
   cursor: pointer;
}

#search-bar button:hover {
   background-color: #F7C59F;
}

.fa-search {
   color: white;
}


@media (max-width: 768px) {
   .navbar, .nav-items {
       flex-direction: column;
       left: 0;
   }

   .nav-background {
      background-color: #004E89;
   }
   
   .nav-items {
       display: none;
   }

   .nav-end {
       margin-left: 0;
   }

   .nav-link-toggle-show {
      display: flex;
      background-color: #004E89;
   }

   .nav-link-toggle {
       align-self: flex-end;
       display: initial;
       position: absolute;
       cursor: pointer;
       color: #F48046;
       margin-right: 15vw;
   }

   .nav-link-toggle:focus + .navbar {
      background-color: #004E89;
  }

   #search-bar input {
      background-color: white;
   }

   .brand {
      align-self: flex-start;
  }
}

@media (max-width: 425px) {
   #search-bar input {
      width: 76%;
  }
}

.splide {
   margin-bottom: 3vh;
}


.splide__slide::before {
   content: '';
   display: block;
   position: absolute;
   background: linear-gradient( rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
   width: 100%;
   height: 100%;
}

.slider-media-title {
   color: white;
   font-size: 50px;
   margin-bottom: -1vh;
}

.slider-media-summary {
   color: white;
   font-size: 20px;
   margin-bottom: 5vh;
}

.slider-btn {
   background-color: #FF6B35;
   padding: 13px 20px;
   border-radius: .375rem;
   border: none;
   text-decoration: none;
   color: white;
   font-weight: 700;
}

.content {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
   position: absolute;
   width: 50%;
   height: 100%;
   text-align: left;
   left: 4%;
   top: 36%;
}

@media (max-width: 1024px) {
   .content {
      width: 60%;
   }

   .section-title {
      margin-left: 0px; 
   }
}

@media (max-width: 568px) {
   .slider-media-title {
      font-size: 36px;
   }

   .slider-media-summary {
      font-size: 18px;
      margin-bottom: 2vh;
   }
   .slider-btn {
      padding: 7px 14px;
      border-radius: .375rem;
      font-weight: 700;
   }
   .content {
      width: 92%;
      top: 35%;
   }
}

.popular {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   width: 90vw;
   height: auto;
   margin: 0 auto;
   padding: 5px;
   margin-bottom: 8vh;
}

.popular-card {
   width: 185px;
   height: auto;
   margin-right: 2vw;
   margin-bottom: 5vh;
   box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
   border-radius: 8px;
   align-self: stretch;
}

.section-title {
   font-size: 30px;
   margin-bottom: 25px;
   text-align: left;
   margin-left: 75px;
}

@media (max-width: 1024px) {
   .section-title {
      margin-left: 50px; 
   }
}

@media (max-width: 1024px) {
   .section-title {
      margin-left: 0;
      text-align: center; 
   }
}

.popular-title {
   margin-bottom: 0;
}

.star {
   color: #FFD700;
}

footer {
   background-color: #191919;
   margin-top: auto;
   text-align: center;
}

#footer-info p {
   color: white;
}