.navbar {
    display: flex;
    padding: 16px;
    position: sticky;
    background-color: #004E89;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.brand {
    margin-right: 90vw;
}

.nav-links {
    padding-right: 8px;
    margin-right: 25px;
}

.nav-links > a {
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.nav-links > a:hover {
    color: #FF6B35;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-end {
    margin-left: auto;
}

.nav-link-toggle {
    display: none;
}

#search-bar input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

#search-bar button {
    background-color: #FF6B35;
    border: none;
    padding: 8px 15px;
    margin-top: 8px;
    margin-right: 17px;
    float: right;
}

#search-bar button:hover {
    background-color: #F7C59F;
}

.fa-search {
    color: white;
}

footer {
    background-color: #191919;
    margin-top: auto;
}

#footer-info p {
    color: white;
}

.notification {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    flex-wrap: wrap;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: relative;
    padding: 5vh 3vw;
    margin-bottom: 1rem;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    align-self: center;
    text-align: center;
}

#success {
    background-color: #198754;
}

.fa-check-square {
    color: #0f5132;
    margin-right: 15px;
}

.fa-exclamation-triangle {
    color: #842029;
    margin-right: 15px;
}

#error {
    background-color: #dc3545;
}

.spacer {
    height: 50px;
    margin: 0 0 -50px 0;
    /* margin: 20px 0 -50px 0; use this if you want #container to have a 'bottom padding', in this case of 20px */
    background: transparent; /* you'll need this if #container's parent element has a different background from #container itself */
}

@media (max-width: 768px) {
    .navbar, .nav-items {
        flex-direction: column;
    }
    
    .nav-items {
        display: none;
    }

    .nav-end {
        margin-left: 0;
    }

    .nav-link-toggle-show {
        display: flex;
    }

    .nav-link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        color: #F48046;
    }

    .notification {
        width: 70vw;
    }
}

@media (max-width: 430px) {
    .brand {
        align-self: flex-start;
    }

    #search-bar input {
        width: 76%;
    }

    .notification {
        width: 90vw;
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .notification {
        font-size: 12px;
    }
}