<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/details.css">
<div class="banner-image">
    <img id="banner" src="https://image.tmdb.org/t/p/original<%= movie.backdrop_path %>" alt="<%= movie.title %>">
</div>
<h1><%= movie.title %></h1>