<% layout('layouts/boilerplate') %>
<section class="account-form-area">
    <%- include('../partials/flash') %>
    <div class="account-form-card">
        <h1 class="form-title">Create Your Account</h1>
        <form class="account-form" method="POST" action="/register">
            <div class="form-section">
                <label for="username">Username</label>
                <input type="text" class="account-input" id="username" name="username" required>
            </div>
            <div class="form-section">
                <label for="email">Email</label>
                <input type="email" class="account-input" id="email" name="email" required>
            </div>
            <div class="form-section">
                <label for="password">Password</label>
                <input type="password" class="account-input" id="password" name="password" required>
            </div>
            <button class="account-btn">Sign Up</button>
        </form>
    </div>
</section>